<div class="page-header">
  <h1>New EFG Portal</h1>
</div>

<p>
You are attempting to login to an old version of the EFG portal,
<strong>please login to the new EFG portal</strong>.
</p>

<p>
  <a href="http://efg.british-business-bank.co.uk/" class="btn btn-primary">Go to New EFG Portal</a>
</p>

