<div class="form-actions">
  <%= link_to('Data Correction', loan_data_corrections_path(@loan), class: 'btn') if current_user.can_create?(DataCorrection) %>
  <%= link_to('Change to Repaid', new_loan_repay_path(@loan), class: 'btn btn-change-to-repaid',  data: { confirm: "Are you sure you want to repay this loan?" }) if current_user.can_create?(LoanRepay) %>
  <%= link_to_state_aid_letter(@loan) %>
</div>
