<div class="form-actions">
  <%= link_to('Recovery Made', new_loan_recovery_path(@loan), class: 'btn') if current_user.can_create?(Recovery) %>
  <%= link_to('Make a Settlement Adjustment', new_loan_settlement_adjustment_path(@loan), class: 'btn') if current_user.can_create?(SettlementAdjustment) %>
  <%= link_to("Status Amendment", new_loan_status_amendment_path(@loan), class: 'btn') if current_user.can_create?(LoanStatusAmendment) %>
</div>

<div class="form-actions">
  <%= link_to_state_aid_letter(@loan) %>
</div>
